*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

application/config/constants.php
application/config/database.php


#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/libraries/*
/vendor/


# assets/admin/img/uploads/dealer_product/large/* 
# assets/admin/img/uploads/dealer_product/thumb/* 

# assets/admin/img/uploads/employees/large/* 
# assets/admin/img/uploads/employees/thumb/* 

# assets/admin/img/uploads/expenses/large/* 
# assets/admin/img/uploads/expenses/thumb/* 

# assets/admin/img/uploads/payments/large/* 
# assets/admin/img/uploads/payments/thumb/* 

# assets/admin/img/uploads/punch/large/* 
# assets/admin/img/uploads/punch/thumb/* 


assets/admin/pdf/po_invoice/* 
# assets/admin/pdf 